*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 70px;
    background-color: black;
}
.caja-footer{
    max-width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.correo{
    max-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 22px;
}
.caja-footer p{
    color: white;
    font-family: var(--fuente);
    font-size: 15px;
}
.redes{
    max-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 15px;
}
.ig{
    width:35px;
    right: 0;
}
.ig img{
    width: 35px;
    
}
.ig img:hover{
    transform: scale(1.2);
}
.gh{
    width: 35px;
    margin-left: 1rem;
}
.gh img{
    width: 35px;
    
}
.gh img:hover{
    transform: scale(1.2);
}
@media (max-width:625px){
    
}
